{% load city_tags %}
{% get_cities as cities %}
<div class="dropdown city-container">
    <label for="city">شهر:</label>
    {% if city %}
        <input autocomplete="off" placeholder="همه شهر ها" id="city" type="text" name="city"
               onkeyup="filterFunction('city', 'cityDropdown')" class="dropbtn field" onclick="rst()" value="{{ city }}">
    {% else %}
        <input autocomplete="off" placeholder="همه شهر ها" id="city" type="text" name="city"
               onkeyup="filterFunction('city', 'cityDropdown')" class="dropbtn field" onclick="rst()">
    {% endif %}
    <ul id="cityDropdown" class="dropdown-content">

        {% for city in cities %}
            <li class="op" onclick="setCity({{ city.f }})">{{ city.name }} <span
                    style="opacity: 0.5">({{ city.region.name }})</span></li>
        {% endfor %}
    </ul>
</div>