{% load doctor_tags %}
{% get_doctors as doctors %}
<div class="dropdown doctor-container">
    <label for="doctor">نام پزشک:</label>
    {% if name %}
        <input autocomplete="off" id="doctor" type="text" name="name" onclick="rst()"
               onkeyup="filterFunction('doctor', 'doctorDropdown')"
               class="dropbtn field" placeholder="همه پزشکان" value="{{ name }}">
    {% else %}
        <input autocomplete="off" id="doctor" type="text" name="name" onclick="rst()"
               onkeyup="filterFunction('doctor', 'doctorDropdown')"
               class="dropbtn field" placeholder="همه پزشکان">
    {% endif %}

    <ul id="doctorDropdown" class="dropdown-content">

        {% for doctor in doctors %}
            <li class="op" onclick="setDoctor({{ doctor.f }})">{{ doctor.first_name }} {{ doctor.last_name }}</li>
        {% endfor %}
    </ul>
</div>