{% extends 'base/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'doctor/css/index.css' %}">
    <script src="{% static 'doctor/js/search.js' %}"></script>
{% endblock %}
{% block content %}
    <main class="main">
        <div class="asli">
            <div class="form-container">
                <div class="form">
                    <form action="{% url 'search' %}" method="post" class="main-form">
                        {% csrf_token %}
                        {% include 'fields/doctor.html' %}
                        {% include 'fields/expertise.html' %}
                        {% include 'fields/city.html' %}
                        <div class="btn">
                            <input class="reset" type="reset" value="پاک کردن">
                            <input class="submit" type="submit" value="جستجو">
                        </div>
                    </form>
                </div>
            </div>
            <div class="img-container">
                <img src="/media/icons/doctor.jpg" alt="img" class="img">
            </div>
        </div>
        <div class="clear"></div>
{#    <div class="test">111</div>#}
{#    <div class="test">222</div>#}
{#    <div class="test">333</div>#}
{#    <div class="test">333</div>#}
{#    <div class="test">333</div>#}
{#    <div class="test">333</div>#}
    </main>
{% endblock %}