{% extends 'base/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="form-container">
            <div class="login-alert">بازیابی رمز عبور</div>
            <div class="login-form">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="submit" value="دریافت رمز عبور">
                </form>
                <div class="redirect">
                    <a href="{% url 'login' %}" class="forget">ورود</a>
                    <span>|</span>
                    <a href="{% url 'signup' %}" class="signup">ثبت نام</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}