a {
    text-decoration: none;
    color: #2a2a2a;
}

.main {
    width: 100%;
    position: relative;
}

.aside {
    padding: 12px 32px;
    float: right;
    width: 30%;
    right: 0;
    /*height: 500px;*/
    border-radius: 8px 0 0 8px;
    /*outline: #159fb7 1px solid;*/
}

.aside .information {
    background-color: rgba(239, 239, 239, 0.43);
}

.aside .photo {
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 2px solid #5e5e5e;
    display: inline-block;
    width: 30%;
}


.set-visit {
    background-color: #464646;
    border-radius: 8px;
    text-align: center;
    height: 250px;
}


.set-visit input {
    text-align: center;
    font-family: 'BYekan';
    border: none;
}

.set-visit input {
    border: none;
    text-align: center;
}

.set-visit input:focus {
    border: none;
    outline: none;
}

.set-visit-caption {
    color: white;
    margin-bottom: 16px;
    padding-top: 16px;
}

.set-visit #hour, .set-visit #minute {
    border-radius: 4px;
    outline: 1px solid #707070;
    font-size: 22px;
    width: 30%;
    height: 36px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ededfe;
}

.set-visit .amount {
    border-radius: 4px;
    padding: 4px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #ededfe;

}

.set-visit .submit {
    padding: 2px;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    background-color: #1b8bb4;
    color: #f3f3f3;
}

.set-visit .submit:hover {
    background-color: #146988;
    color: white;
    transition-duration: 200ms;
}

.visits-container {
    float: left;
    width: 60%;
    text-align: center;
}


.aside a:hover {
    color: #076e80;
    transition-duration: 200ms;
}

.logout-container {
    width: 100%;
    margin-top: 36px;
    text-align: center;
    background-image: url("/media/icons/logout (1).png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right;

}

.logout-panel {
    color: #ff2b37;
    font-size: 14px;
}

.content {
    height: 400px;
    display: inline-block;
    text-align: center;
    width: 80%;

}

.visits-container table {
    margin: auto;
    box-sizing: border-box;
    /*border-radius: 8px;*/
}

.visits-container th {
    padding: 8px;
    /*outline: #1594ab 2px solid;*/
    color: #3d3d3d;
    font-weight: bolder;
}

.visits-container thead tr {
    background-color: #1cadc8;
    outline: #1c4a72 1px solid;
    /*border-radius: 8px 8px 0 0;*/
    /*border: #1594ab 2px solid;*/
    /*border-bottom: 3px solid black;*/
}

.visits-container tbody tr {
    /*border-radius: 8px;*/
    /*outline: 1px solid #575757;*/
    /*box-sizing: border-box;*/
    border-bottom: #313131 1px solid;

}

.visits-container td {
    padding: 16px;
    color: #1c4a72;
    /*border-bottom: #313131 1px solid;*/
}

.clear {
    clear: both;
}

.aside {
    display: block;
}

.aside .information {
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 6px;
}

.aside .detail {
    display: inline-block;
    padding-right: 12px;
}


.information h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.information h2 {
    color: #1c4a72;
    font-size: 20px;
    margin-bottom: 16px;

}

#date_input_1 {
    width: 50%;
    height: 32px;
}

.information .code {
    color: #5e5e5e;
    border-bottom: 1px #1c4a72 dashed;
    padding: 3px;
    margin-bottom: 30px;
}
.wallet{
    color: #164f73;
    outline: 2px solid #164f73;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}


.form {
    text-align: center;
}

.calendar {
    /*width: 66%;*/
    border-radius: 5px;
    display: block;
    margin: auto;
}

.calendar input {
    background-color: transparent;
    text-align: center;
}

.amount {
    width: 64%;
}

.submit {
    display: block;
    margin: auto;
}

.calendar-container {
    width: 66%;
    border-radius: 5px;
    margin: auto;
}