{% load static %}
<header class="header">
    <div class="logo-container">
        <a class="logo" href="{% url 'home' %}">
            <h1 class="h1">سامانه نوبت گیری</h1>
        </a>
        <a class="logo-i" href="{% url 'home' %}">
            <img src="{% static 'doctor/images/logo22.png' %}" alt="logo" class="logo-img">
        </a>
    </div>
    <nav class="nav">
        <div class="menu">
            <a href="#" class="menu-item">پشتیبانی</a>
            <a href="#" class="menu-item">ثبت پزشک</a>
            <a href="{% url 'contact' %}" class="menu-item">تماس با ما</a>
            <a href="{% url 'about' %}" class="menu-item">درباره ما</a>
        </div>
        {% if request.user.is_authenticated %}
{#            <div class="account-container">#}
                <a href="http://127.0.0.1:8000/admin" class="account-container">
                    <p class="login">{{ user.username }}</p>
{#                    <img class="login-icon" src="{% static 'doctor/images/user.png' %}" alt="account">#}
                </a>
{#            </div>#}
        {% else %}
{#            <div class="login-container">#}
                <a href="http://127.0.0.1:8000/admin" class="login-container">
                    <p class="login">ورود</p>
{#                    <img class="login-icon" src="{% static 'doctor/images/login.png' %}" alt="login">#}
                </a>
{#            </div>#}
        {% endif %}

    </nav>
    <div class="clear"></div>
</header>